terraform {
  backend "s3" {
    bucket         = "YOUR-STATE-BUCKET"
    key            = "portfolio/terraform.tfstate"
    region         = "YOUR-REGION"
    dynamodb_table = "YOUR-DYNAMODB-TABLE"
    encrypt        = true
  }
}